# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# obj models shouldnt be ignored
!/resources/models/**

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
build/
bin/
*.exe
*.out
*.app
